@using DengueLearn.Models;
@using DengueLearn.Enums;
@model UserModel
@{
    ViewData["Title"] = "Atualizar Usuário";
}

<div class="container justify-content shadow navcolor mt-5">
    <div>
        <div class="alert" role="alert">
            <h4 class="fw-bold">
                Atualizar informações do usuário
            </h4>
            <div class="small">
                <i class="bi bi-house"></i> Core
                <i class="bi bi-chevron-right"></i> Usuários
                <i class="bi bi-chevron-right"></i> Todos os usuários
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>
</div>

<form asp-controller="User" asp-action="GoToUpdateUser" method="post">
    <div class="container justify-content-center mt-5 shadow">
        <div class="row align-items-start">
            <div class="col">
                <div class="form-group">
                    <label for="nome" class=" fw-bold mb-1">Usuário</label>
                    <input type="text" asp-for="UserName" class="form-control mb-2" id="inputs" placeholder="Digite o nome completo">
                </div>
                @Html.ValidationMessageFor(x => x.UserName)
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="email" class=" fw-bold mb-1">Email</label>
                    <input type="email" asp-for="Email" class="form-control mb-2" id="inputs" aria-describedby="emailHelp" placeholder="Digite o email">
                </div>
                @Html.ValidationMessageFor(x => x.Email)
                <div class="form-group">
                    <label for="password" class=" fw-bold mb-1">Senha</label>
                    <input type="text" asp-for="Password" class="form-control mb-2" id="inputs" readonly>
                </div>
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>
        <button type="submit" id="SavePacient" class="btn btn-success mt-3 mb-5 fw-bold">Salvar</button>
        <button class=" btn btn-danger mt-3 mb-5 fw-bold" asp-controller="User" asp-action="Index" role="button">Voltar</button>
    </div>
</form>
