@model QuizModel

@{
    ViewData["Title"] = "Quiz";
}

<div class="quiz-container">
    <div class="container learn-container-content">
        @using (Html.BeginForm("Submit", "Quizes", FormMethod.Post))
        {
            <div class="row text-black" id="quizcontent">
                <h2 class="title-quiz-page">Quiz</h2>

                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    <div class="question mt-4">
                        <p><strong>@Model.Questions[i].QuestionText</strong></p>

                        @for (int j = 0; j < Model.Questions[i].GetOptions().Count; j++)
                        {
                            <div>
                                <input type="radio" name="Questions[@i].SelectedOption" value="@Model.Questions[i].GetOptions()[j]" />
                                <label>@Model.Questions[i].GetOptions()[j]</label>
                            </div>
                        }

                        <input type="hidden" name="Questions[@i].Id" value="@Model.Questions[i].Id" />
                        <input type="hidden" asp-for="Id" />
                    </div>
                }
            </div>
            <button type="button" class="btn btn-primary mt-3" id="gotoconfirm">Enviar Respostas</button>
            <div class="row hideEl text-center" id="confirm">
                <div class="mt-5">
                    <img src="~/interrog.png" width="100px"/>
                    <h5 class="text-black mt-2">Você tem certeza que deseja enviar as informações?</h5>
                    <div class="btn-group mt-3" role="group">
                        <button type="button" class="btn btn-outline-primary me-3" id="backquiz">Não</button>
                        <button type="submit" class="btn btn-primary">Sim</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>