<div class="container">
    <h2>Resultado do Questionário</h2>

    <p>Você acertou @ViewBag.Score de @ViewBag.TotalQuestions perguntas.</p>

    <a href="/Quiz/Index" class="btn btn-secondary">Refazer Questionário</a>
</div>
