@model ResetPasswordModel
@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Redefinir sua senha";
}


<div class="container login-container">
    <div class="form-container" id="login-form">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success text-center" id="alerta" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn btn-close" id="close-alert" aria-label="Close"></button>
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger text-center" id="alerta" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn btn-close close-alert" id="close-alert" aria-label="Close"></button>
            </div>
        }
        <form class="login-form" asp-controller="Login" asp-action="GoToResetPassword" method="post">
            <div class="">
                <label for="Login" class="form-label text-white fw-bold">Login</label>
                <input type="text" asp-for="UserName" class="form-control" placeholder="Digite o login">
            </div>
            @Html.ValidationMessageFor(x => x.UserName)
            <div class="mb-3">
                <label for="Email" class="form-label text-white fw-bold">Email</label>
                <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email">
            </div>
            @Html.ValidationMessageFor(x => x.Email)
            <div class="btn-group mt-4" role="group" aria-label="Basic mixed styles example">
                <button type="button" asp-controller="Login" asp-action="Index" class="btn btn-danger text-light fw-bold">Voltar</button>
                <button type="submit" class="btn btn-secondary fw-bold">Redefinir</button>
            </div>
        </form>
    </div>
</div>