@{
    ViewData["Title"] = "Aprendizado";
}

<div class="learn-container">
    <div class="learn-container-content">
        <iframe 
            class="mt-4"
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/LopVIUrshf8?si=mS0BCjotWNGe_71v" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</div>
