@model UserModel

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="btn-group user-dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle navcolor" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="text-white fw-bold me-2" asp-controller="Home" asp-action="Index">@Model.UserName</a>
            <i class="bi bi-person-fill userlogged"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end userlogged" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-controller="Login" asp-action="SignOut">Sair</a></li>
        </ul>
    </div>
</div>
