
@media(min-width: 992px) {
    body {
        overflow: auto !important;
        background: linear-gradient(70deg, rgba(18, 70, 0, 0.94), rgba(255, 193, 7, 0.39));
    }

    .offcanvas-backdrop::before {
        display: none;
    }

    .main-logado {
        margin-left: var(--offcanvas-width);
    }

    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavBarHeight);
        height: calc(100% - var(--topNavBarHeight))
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(70deg, rgba(18, 70, 0, 0.94), rgba(255, 193, 7, 0.39));
}

.field-validation-error {
    color: #ff0000;
}

.navcolor {
    background: rgba(76, 175, 80, 1);
}

.navbar-denguelearn {
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 60px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    align-items: start;
}

.learn-container {
    width: 1150px;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    height:500px
}

.learn-container-content{
    margin: 30px;
}

.user-dropdown{
    border-radius: 30px
}

.login-form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.userlogged {
    color: white;
}

.offcanvas-button-active {
    color: white;
}

.line {
    color: white;
}

.custom-input {
    width: 400px; 
}


.dt-layout-row {
    margin-bottom: 10px;
}

.column-list-videos{
    margin-top: 20px;
    align-items: start;
}

.video-list{
    margin-right: 50px;
}

.video-default{
    margin-top: 30px;
}